<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899563901706-2ps5cae67d57e6f069il2hj5h442fve4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899563901706-2ps5cae67d57e6f069il2hj5h442fve4</string>
	<key>API_KEY</key>
	<string>AIzaSyDnOrhxa5ohK7ColRtNszklY1IBrrfnlUk</string>
	<key>GCM_SENDER_ID</key>
	<string>899563901706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homelgaApp</string>
	<key>PROJECT_ID</key>
	<string>homelga</string>
	<key>STORAGE_BUCKET</key>
	<string>homelga.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899563901706:ios:d9540d4bc74efa41f220f3</string>
</dict>
</plist>